<div class="container">
  <div class="col p-3">
    <h2 class="d-flex justify-content-center">Book Your Bicycle</h2>
  </div>
    <%= simple_form_for [@bicycle, @booking] do |f| %>
      <div class="d-flex align-content-center">
       <div style="width: 200px;"><%= f.input :start_date, as: :date, html5: true %></div>
        <div style="width: 200px"><%= f.input :end_date, as: :date, html5: true %></div>
      </div>
      <table>
              <tbody>
              <tr>
                <th scope="row pt-3">Type:</th>
                <td><%= @bicycle.category %></td>
              </tr>
              <tr>
                <th scope="row">Location:</th>
                <td><%= @bicycle.address %></td>
              </tr>
               <tr>
                <th scope="row">Per day:</th>
                <td data-price="<%= @bicycle.day_price %>">¥<%= @bicycle.day_price %></td>
              </tr>
      </table>
      <p class="total_ border-bottom" style="text-align: right; font-weight: bolder; padding-right: 22px; ">Total ¥<span id="total-price">-</span></p>
      <div id="confirm-booking"><%= f.submit 'Book Now', class: 'btn-p' %></div>
    <% end %>
</div>
