<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist" >
    <a class="nav-item nav-link active" id="nav-bookings-tab" data-toggle="tab" href="#nav-bookings" role="tab" aria-controls="nav-bookings" aria-selected="true" style="height: 50px;"><strong>My Bookings</strong></a>
    <a class="nav-item nav-link" id="nav-listings-tab" data-toggle="tab" href="#nav-listings" role="tab" aria-controls="nav-listings" aria-selected="false"><strong>My Listings</strong></a>
    <a class="nav-item nav-link" id="nav-requests-tab" data-toggle="tab" href="#nav-requests" role="tab" aria-controls="nav-requests" aria-selected="false"><strong>Booking Requests</strong></a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-bookings" role="tabpanel" aria-labelledby="nav-bookings-tab" style="width: 500px; height: 10px;">
       <h2 class="d-flex justify-content-center" style="margin-top: 80px; margin-bottom: 50px;">My Bookings</h2>
    <div>
      <% @user_bookings.each do |booking| %>
        <div class="card-user-booking my-3">
          <% booking.bicycle.photos.each do |photo| %>
          <%= cl_image_tag (photo.key) %>
          <% end %>
          <div class="card-user-booking-infos">
            <h4>Renting From:</h4>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "card-user avatar-bordered", alt: "avatar-bordered" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-listings" role="tabpanel" aria-labelledby="nav-listings-tab" style="width: 500px; height: 10px;">
  <h2 class="d-flex justify-content-center"style="margin-top: 80px; margin-bottom: 50px;">My Listings</h2>
      <div>
        <% @user_listings.each do |bicycle| %>
          <div class="card-user-booking my-3">
            <% bicycle.photos.each do |photo| %>
            <%= cl_image_tag photo.key %>
            <% end %>
            <div class="card-user-booking-infos">
              <h4>Renting To:</h4>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "card-user avatar-bordered", alt: "avatar-bordered" %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <div class="tab-pane fade" id="nav-requests" role="tabpanel" aria-labelledby="nav-requests-tab" style="width: 500px; height: 10px;">
      <h2 class="d-flex justify-content-center"style="margin-top: 80px; margin-bottom: 50px;">Booking Requests</h2>
    <div>
      <% @booking_requests.each do |booking| %>
        <div class="card-user-booking my-3">
          <% booking.bicycle.photos.each do |photo| %>
          <%= cl_image_tag photo.key %>
          <% end %>
          <div class="card-user-booking-infos">
            <h4>Booking Request From:</h4>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "card-user avatar-bordered", alt: "avatar-bordered" %>
          </div>
          <div>
            <%= link_to booking_path(booking, booking: { status: "accepted" }), remote: true, method: :patch do %>
              <i class="fas fa-check"></i>
            <% end %>
            <%= link_to booking_path(booking, booking: { status: "rejected" }), remote: true, method: :patch do %>
              <i class="fas fa-times"></i>
            <% end %>
          </div>
          <div id="booking-result-<%= booking.id %>"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
