<!-- <div class="container"> -->
  <div class="navbar sticky-top navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "pedal.png" %>
    <% end %>
    <button class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <% if user_signed_in? %>
          <%= link_to "List your bicycle", new_bicycle_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
        <% end %>
      </div>
  </div>
