<div class="container">
  <div class="form">
    <h1>Add Bicycle</h1>
    <%= simple_form_for @bicycle do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :category, collection: Bicycle::CATEGORIES, include_blank: false %>
      <%= f.input :day_price, as: :currency, placeholder: "800" %>
      <%= f.input :brand %>
      <%= f.input :condition %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.submit 'Submit' %>
    <% end %>
  </div>
</div>
