
<div class="container wrapper">
  <div class="row">
    <div class="col-12 p-0">
    <div class="card" >
      <div class="card-header">
        <div class ="d-flex justify-content-between font-weight-bold"> <span><%= @bicycle.category %></span>
          <span><%= @bicycle.address %></span>
             <span>¥<%= @bicycle.day_price %></span></li>
        </div>
      <div class="card-body">
        <%= @bicycle.description %>
      </div>
    </div>
  </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <div class="card-trip mt-3 ">
        <% @bicycle.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill%>
        <% end %>

        </div>
    </div>
  <div class="col-6">
    <%= render 'bookings/booking-form' %>
    </div>
  </div>
</div>
