
<div class="container wrapper">
  <div class="row">
    <div class="col-12">
    <div class="card p-3" >
      <h4 class="d-flex justify-content-center">Description</h4>
      <ul class="" style="list-style-type:none">
        <li> <%= @bicycle.category %></li>
        <li> <%= @bicycle.day_price %></li>
        <li> <%= @bicycle.description %></li>
        <li> <%= @bicycle.address %></li>
      </ul>
    </div>
  </div>
  </div>

  <div class="row mt-5">
    <div class="col-6">
      <div class="card-trip mt-3 ">
        <% @bicycle.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill%>
        <% end %>

        </div>
    </div>
  <div class="col-6">
    <%= render 'bookings/booking-form' %>
    </div>
  </div>
</div>
